body {
  max-width: 600px;
  margin-left: 1em;
  margin-right: 1em;
  margin: auto;
  padding: 1em;
  background-color: black;
  color: white;
  text-align: justify;
  text-justify: inter-word;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#TopMenu {
  display: flex;
  justify-content: flex-start;
}

.item:not(:last-child) {
  margin-right: 19px;
}

#TopMenu a {
  color: rgb(55, 0, 255);
}

#TopMenu a:hover {
  color: rgb(224, 43, 224);
}

.Button {
  border: 2px solid transparent;
  max-width: 8em;
  padding: 1em;
  text-align: center;
  border-radius: 3px; /* makes the corner less sharp */
  transition: all 1.5s; /* makes a delayed animation */
}

.Button:hover {
  border-radius: 3px;
  border: 2px solid green;
}

.Button:active {
  border: 2px solid green;
  background: rgba(55, 219, 55, 0.20);
  max-width: 8em;
  padding: 1em;
}

